*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1600px;

}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    font-size:16px ;
    font-weight: 600;
    color: #fff;
    background-color: #469165;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;

}
header{
    padding-top: 24px;

}
 nav{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    

 } 
 nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
 }  
 nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;   
 }

 nav .menu .btn{
    margin-left: 240px;
 }