*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1600px;

}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    font-size:16px ;
    font-weight: 600;
    color: #fff;
    background-color: #469165;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;
}
.btn:hover{
   background-color: transparent;
   border: 2px solid #469165;
   border-radius: 4px;
   color: #000000;
}

body {
   background-color: #ffffff;

}
header{
    padding-top: 24px;

}
 nav{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    

 } 
 nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
 }  
 nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;   
 }

 nav .menu .btn{
    margin-left: 240px;
 }
.hero {
  position: relative;
  min-height: 100vh;
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.hero-content {
  position: relative;
  max-width: 900px;
  text-align: center;
  color: #ffffff;
  
}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  color: #469165;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
}
.badge .dot {
  width:10px;
  height: 10px;
  background: #469165;
  border-radius: 50%;
}
.hero-content h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero-content h1 span {
  color: #469165;
}

.hero-content p {
  font-size: 18px;
  color: #ffffff;
  max-width: 750px;
  margin: 0 auto 32px;
  line-height: 1.7;
}

.button {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn.secondary {
  border: 2px solid #469165;
  color: #ffffff;
}

.btn.secondary:hover {
  background: #ffffff1a;
}
  